<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>handlerequests</servlet-name>
        <servlet-class>Servlets.handlerequests</servlet-class>
        <init-param>
            <param-name>handlerequests</param-name>
            <param-value>handlerequests</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ProcessInput</servlet-name>
        <servlet-class>Servlets.ProcessInput</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>Servlets.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AJAXComp</servlet-name>
        <servlet-class>Servlets.AJAXComp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handlerequests</servlet-name>
        <url-pattern>/handlerequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessInput</servlet-name>
        <url-pattern>/ProcessInput</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AJAXComp</servlet-name>
        <url-pattern>/AJAXComp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
